@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
    --header-height:3rem ;
    --hue-color: 437;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second:hsl(var(--hue-color), 50%, 61%) ;
    --first_color-alt: hsl(var(--hue-color), 57%, 53%);
    --frst-color-lighter: hsl(var(--hue-color), 93%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color:hsl(var(--hue-color), 8%, 45%) ;
    --text-color-light:hsl(var(--hue-color), 8%, 65%) ;
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color: rgb(24, 4, 4);

   /*========== font sizes =========*/

     --body-font: 'Merriweather', serif;

     --big-font-size: 2rem;
     --h1-font-size: 1.5rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1.125rem;
     --normal-font-size: 0.938rem;
     --small-font-size: 0.813rem;
     --smaller-font-size: 0.75rem;

     --font-medium: 500;
     --font-semi-bold: 600;

     --mb-0-25: .25rem;
     --mb-0-5: .5rem;
     --mb-0-75: 0.75rem;
     --mb-1: 1rem;
     --mb-1-5: 1.5rem ;
     --mb-2: 2rem;
     --mb-2-5: 2.5rem;
     --mb-3: 3rem;

     --z-tooltip: 10;
     --z-fixed: 100;
     --z-modal: 1000;

     
}

@media screen and (min-width: 968px){
    :root {
        --big-font-size: 3rem;
     --h1-font-size: 2.25rem;
     --h2-font-size: 1.5rem;
     --h3-font-size: 1.25rem;
     --normal-font-size: 1rem; 
     --small-font-size: .875rem;
     --smaller-font-size: .813rem;

    }
}
/* base*/
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: linear-gradient(white, black);
    color: var(--text-color);

}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;  
}
a{
    text-decoration: none;
}
img{
    height: auto ;
    max-width: 100%;
}
/*css classess*/
.section{
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem;

}
.section_title{
    font-size: var(--h1-font-size);
    text-align: center;
}
.section_subtitle{
    display: block;
    font-size: var(--font-medium);
    margin-bottom: 3px;
    margin-top: 5px;
    text-align: center;
    align-self: center;
    color:rgb(10, 13, 15);
} 
/*layout*/
.container{
   width: 85%;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
@media screen and (max-width: 968px){
    .container{
        width: 550px;
    }
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--body-color);
}

.nav{
     width: 100%;
    height: var(--header-height);
}   
.nav_menu{
    display: flex;
    margin-top: -20px;
    width: 100%;
    margin: 0 auto;
  
}
.nav_logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    display: none;
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
}
.nav_toggle:hover{
    color: var(--first-color);
}


    

.nav_list{
   margin-left: 30%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    
    position: relative;
    bottom: 10px;
    overflow: hidden
}
.nav_item{  
    background-color: var(--first-color);
    border-color: var(--first-color);
    animation: popup;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 5px;

}
@keyframes popup{
    50%{transform: scale(1.15, 1.15);}
}
.nav_link{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5px;
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_link:hover{
    color: var(--first-color);
    transition: 1s;
}
.nav_icon{
    font-size: .8rem;
}
.nav_close{
    display: none;
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav_close:hover{
    color: var(--first-color-alt);
} 
@media screen and (max-width:767px) {
    .nav_list{
        margin-left: 5%;
    }
    .nav_item{    
        border-color: var(--first-color);
        background-color: var(--first-color);
        animation: translate;
        animation-duration: 21s;
        animation-iteration-count: infinite;
    }
}
@keyframes translate{
    50%{transform: translateX(-300px);}
}
.show_menu{
  bottom: 0;
   transition: .5s;
}

a{
    color: var(--text-color);
}
a:hover{
    cursor: pointer;
}
.img{
    width: 80%;
    height: 85%;
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    border-width: 20px;
    border-color: var(--first-color);
    margin-top: 40px;
    margin-left: 50px;
    box-sizing: border-box;
   
}

.home_container{
   gap: 1.5rem;
}
.home_content{
    grid-template-columns: .5fr 2fr;
    padding-top: 1.6rem;
    align-items: center;
}
.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home_data{
    margin-top: 30px;
    grid-column: 1/3;
}
.home_social-icon{
    color: var(--first-color);
}
.home_social-icon:hover{
    transform: scale(1.2, 1.2);
    transition: .4s;
}

.home_data h1{
    font-size: var(--big-font-size);
}
.home_data h3{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);    
}
.button:hover{
    background-color: var(--first_color-alt);
    transform: scale(1.2, 1.2);
    opacity: .8;
    transition: .5s;
}
.about_image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}
.about_info{
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--mb-2-5);
    margin-top: 10px;
}
.about_info-name{
    font-size: var(--smaller-font-size);
}
.about_info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.about_info-name,
.about_info-title{
    display: block;
    text-align: center;
}
.about_buttons{
    display: flex;
    justify-content: center;
}
.skills_container{
    width: 80%;
}
.skills_content{
    width: 100%;
    text-align: center;
}
.skill_data{
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: 100%;
}
.skill_data dd{
    margin-left: 30px;
}
.skill_data dt{
   font-weight: 600;
   color: var(--title-color);
}
.header_container{
    background-color:rgb(250, 255, 240);
    margin: 20px 10px;
    border-radius: 20px;
}
.services_content{
    background-color: rgb(250, 255, 240);
    text-align: center;
    padding: 10px 2px;
    border-radius: .8rem;
    margin-top: 10px;
}
.services_content:hover{
    background-color:  var(--first-color);
    transform: scale(1.1, 1.1);
    transition: .5s;
}
.services_title{
    margin-bottom: 10px;
}
.testimonial_data,
.testimonial_header{
    display: flex;
    margin: 5px;
}
.imaging{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    height: 100%;
    width:40%
}
.mage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 8px;
    overflow: hidden;

}

.testimonial{
    width:100%;
    
}

.testimonial_container{
    width: 60%;
    height: 60vh;
    overflow: scroll;
}
.testimonial_container:hover{
   background-color: rgb(226, 240, 198, .6);
   border-radius: 5%;
   color: black;
}
.testimonial_header{
    width: 40%;
    text-align: center;
}

.testimonial_body{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.remark{
    position: relative;
    
}

.about_speaker{
    width:20%;
}
.imaging{
    width: 100px;
    height: 100px;
}
img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
@media  screen and (max-width: 767px) {
    .testimonial_container{
        width: 90%;
    }
    .contact_container{
        background-color: rgb(250, 255, 240);
        border-radius: 10%;
    }
}
.contact_data{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: start;
    margin-left: 20%;
}
.contct

.contact_form{
    margin-top: 20px;
}

.contact_content{
    background-color: rgb(250, 255, 240);
    width: 60%;
    padding-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    border-radius: 5px;
}
.contact_input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: ridge;
    background-color: rgb(250, 255, 240);
    
}
.contact_section {
    margin-bottom: 20px;
}
.contact_button{
    margin-left: 30%;
    margin-top: 10px;
}


.footer{
    background-color: rgb(250, 255, 240);
}
.footer_container{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    margin-left: 0px;
}
.footer_socials{
    display: flex;
    justify-content: center;
}
.footer_socials a{
    margin: 0 30px;
    color: rgb(13, 40, 31);
}
.footer_link{
    color: rgb(13, 40, 31);
}
.footer_link:hover{
    cursor: pointer;
    color: var(--first-color);
}
.footer_socials a:hover{
    cursor: pointer;
    color: var(--first-color);
}
.ttop{
    background-color: var(--first-color);
    line-height: 1.7rem;
   
}

@media screen and (max-width:500px){
    .img{
        margin: 0 5px;
        height: 90%;
    }
    .skills_container{
        width: 80%;
    }
    .skills_content{
        width: 100%;
        text-align: center;
    }
    .skill_data{
        display: grid;
        grid-template-rows: repeat(3, 25px);
        grid-template-columns: 100%;
    }
    .skill_data dd{
        margin-left: 30px;
    }
    .skill_data dt{
       font-weight: 600;
       color: var(--title-color);
    }
    .header_container{
        background-color: var(--first-color-second);
        margin: 20px 10px;
        border-radius: 20px;  
    }
    .testimonial_header{
        display: grid;
        grid-template-rows: repeat(2, 50%);
    }
    .contact_information div{
        margin-left: -20px;
     }
}